extends layout

block content
  h1 Welcome to the Greeter Machine
  form(method='POST', action='/greetings')
    label(for='name') My name is
    input#name(type='text', name="name")
    button(type='submit') Greeting
